name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    container:
      image: rocker/r2u:latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install dependencies
      run: apt update -qq && apt install -y curl jq git
    - name: Setup environment
      run: install2.r ggplot2
    - name: Evaluation (development)
      id: evaluate-dev
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: evaluate-dev
        command: Rscript coin.R
        timeout: 2
